.tab{
    display: flex;
    flex-direction: row;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    border: 1px solid #000;
    display: table-cell;
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 0;
}

td button {
    color: #000;
}

table tr:first-child td {
    border-top-color: #000;
}

table tr:last-child td {
    border-bottom-color: #000;
}

table tr td:first-child {
    border-left-color: #000;
}

table tr td:last-child {
    border-right-color: #000;
}

td button {
    width: 100%;
    height: 100%;
    margin: 0;
    border-style: none;
    background-color: transparent;
}

#sheepBox .box{
    margin: 10px;
}

.box {
    cursor: move;
    height: 70px;
    width: 70px;
    text-align: center;
    background-color: #000;
    color: white;
}

#game{
    display: flex;
    width: 100%;
    margin: 20px auto;
    justify-content: space-around;
}

#buttons{
    margin: 0 auto;
    width: 700px;
    display: flex;
    justify-content: space-around;
}