<!DOCTYPE html>
<html>

<head>
    <title>BattleSheep - Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="CSS/grid.css" />

    <!-- JS FILES -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- <script type="text/javascript" src="JS/JS/verif.js"></script> -->
</head>

<body>
    <!-- GRID -->
    <div id="game">

        <div id="sheepBox">
        </div>

        <table id="playerGrid">
        </table>

    </div>

    <!-- RESET BUTTON -->
    <div id="buttons">
        <button id="rotate">Rotate</button>
        <button id="reset">Reset</button>
        <button id="valid">Valid</button>
    </div>


    <!-- IMPORT JS -->
    <script type="text/javascript" src="JS/grid.js"></script>
    <script type="text/javascript" src="JS/setPlayerGrid.js"></script>
    <script type="text/javascript" src="JS/sheep.js"></script>
    <script type="text/javascript" src="JS/verif.js"></script>
    <script type="text/javascript" src="JS/http.js" ></script>
    <script type="text/javascript" src="JS/main.js"></script>


</body>

</html>