<%- include('templates/header.ejs') -%>

<main class="home-main" id="home_main" style="display: none;">
    <!-- Text displayed in the home page -->
    <section class="home-content">
        <h1>Be the wolf of <br>your enemy shepherd</h1>
        <h2>Who will collect the most wool</h2>

        <section class="btn_xl">
            <a href="/signup" title="Click to connect">Play</a>
        </section>
    </section>

    <!-- The 3D sheep -->
    <section class="background" id="sheep_display"></section>
</main>

<%- include('templates/footer.ejs') -%>

        

        