<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Martin Delebecque" />
    
    <link rel="stylesheet" href="CSS/lobby.css" />
    <title>BattleSheep | Lobby</title>


    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap" rel="stylesheet" />

    <link rel="icon" type="image/png" sizes="16x16" href="img/ZephyrStudio_logo.png" />
</head>
<body>
    <main>
        <h1>Welcome <i>UserPseudo</i></h1>
        
        <!-- Scoreboard -->
        <section class="scoreboard">
            <h2><ion-icon name="ribbon"></ion-icon>Your 3 best scores :</h2>
            
            <!-- High scores list -->
            <div class="card">
                <h3 class="green">#1</h3>
                <ul>
                    <li>Against : <strong>OtherPseudo</strong></li>
                    <li>Score : <strong class="green">1000</strong></li>
                </ul>
            </div>
            <div class="card">
                <h3 class="green">#2</h3>
                <ul>
                    <li>Against : <strong>OtherPseudo</strong></li>
                    <li>Score : <strong class="green">500</strong></li>
                </ul>
            </div>
            <div class="card">
                <h3 class="green">#3</h3>
                <ul>
                    <li>Against : <strong>OtherPseudo</strong></li>
                    <li>Score : <strong class="green">250</strong></li>
                </ul>
            </div>
        </section>
        
        <hr />
        
        <!-- Waiting player -->
        <nav class="games">
            <h2><ion-icon name="game-controller"></ion-icon>All waiting players :</h2>
            
            <!-- Button to host a new game -->
            <div class="card" id="new_game" title="Click to host your own game">
                <ion-icon name="globe-outline"></ion-icon>
                <h3>Host my own game</h3>
            </div>

            <!-- All of available games -->
            <div class="card" title="Click to join the OtherPseudo's game">
                <ion-icon name="log-in"></ion-icon>
                <ul>
                    <li>Host : <strong class="green">OtherPseudo</strong></li>
                    <li>High score : <strong>1500</strong></li>
                </ul>
            </div>
            <div class="card" title="Click to join the OtherPseudo's game">
                <ion-icon name="log-in"></ion-icon>
                <ul>
                    <li>Host : <strong class="green">OtherPseudo</strong></li>
                    <li>High score : <strong>1500</strong></li>
                </ul>
            </div>
            <div class="card" title="Click to join the OtherPseudo's game">
                <ion-icon name="log-in"></ion-icon>
                <ul>
                    <li>Host : <strong class="green">OtherPseudo</strong></li>
                    <li>High score : <strong>1500</strong></li>
                </ul>
            </div>
        </nav>
    </main>

    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>