<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Martin Delebecque" />

    <link rel="stylesheet" href="CSS/404.css" />
    <title>BattleSheep | Not found</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap" rel="stylesheet" />

    <link rel="icon" type="image/png" sizes="16x16" href="img/ZephyrStudio_logo.png" />
</head>

<body>
    <main>
        <div class="card">
            <h1>Not available</h1>
            <h3>ThreeJS is not available on your browser...</h3>
            
            <p>Try to use an other browser to reach this page.</p>
            <p>Back <a href="/" title="Go back home">home</a></p>
        </div>
    </main>
</body>

</html>