<!DOCTYPE html>
<html>

<head>
    <title>BattleSheep - Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="CSS/style.css" />
    <script src="https://kit.fontawesome.com/b89837f3ad.js" crossorigin="anonymous"></script>

    <!-- JS FILES -->
    <script type="text/javascript" src="JS/grid.js"></script>
    <script type="text/javascript" src="JS/enemyGrid.js"></script>
    <script type="text/javascript" src="JS/playerGrid.js"></script>
    <script type="text/javascript" src="JS/weapon.js"></script>
</head>

<body>
    <!-- GRID -->
    <div id="game">

        <table id="playerGrid">
        </table>
        
        <table id="enemyGrid">
        </table>

    </div>
    
    <div id="weapons">
    </div>

    <!-- IMPORT JS -->
    <script type="text/javascript" src="JS/mainGame.js"></script>
</body>

</html>