@charset "UTF-8";
/* -------------------------------------------------------------------------- */
/*                               Some variables                               */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   General                                  */
/* -------------------------------------------------------------------------- */
body {
  padding: 0;
  margin: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
/* -------------------------------------------------------------------------- */
/*                                     HUD                                    */
/* -------------------------------------------------------------------------- */
.splash-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-color: #000;
  transition: opacity 2s;
}
.splash-screen div {
  color: #eee;
  font-family: 'KoHo', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: opacity 2s;
}
.splash-screen .zephyr-studio-game img {
  height: 200px;
  width: auto;
}
.splash-screen .zephyr-studio-game h1 {
  font-size: 4rem;
}
.splash-screen .battlesheep-logo img {
  height: 200px;
  width: auto;
}
header {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 42%;
  right: 42%;
  display: flex;
  justify-content: center;
  font-family: 'KoHo', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0 0 10px 10px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
}
header section {
  border-bottom: 3px solid #3ca50c;
  background-color: rgba(238, 238, 238, 0.5);
  color: #fff;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0 5px 0;
}
header section:nth-child(1) {
  border-left: 3px solid #3ca50c;
  border-right: 1.5px solid #3ca50c;
  border-radius: 0 0 0 10px;
}
header section:nth-child(1) img {
  width: 30px;
  height: auto;
}
header section:nth-child(1) .scoreboard {
  margin-left: 10px;
}
header section:nth-child(2) {
  border-left: 1.5px solid #3ca50c;
  border-right: 3px solid #3ca50c;
  border-radius: 0 0 10px 0;
}
header section:nth-child(2) span {
  margin-left: 5px;
  margin-right: 5px;
}
header section:nth-child(2) ion-icon {
  margin-left: 5px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
nav .weapons {
  background-color: rgba(238, 238, 238, 0.5);
  border-radius: 20px;
  border: 3px solid #3ca50c;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
}
nav .weapons .weapon {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .weapons .weapon .icon-selected {
  display: none;
}
nav .weapons .weapon .icon {
  display: block;
}
nav .weapons .weapon img {
  width: 70px;
  height: 70px;
}
nav .weapons .disabled img {
  opacity: 0.5;
}
nav .weapons :not(.disabled):hover .icon {
  opacity: 0.7;
}
main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 0;
  flex-direction: column;
}
main .announcement {
  transition: opacity 0.5s;
}
main .announcement h1,
main .announcement h2 {
  color: #fff;
  font-family: 'KoHo', sans-serif;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7);
  text-align: center;
}
main .announcement h1 {
  font-size: 5rem;
}
main .announcement h2 {
  font-size: 3.5rem;
}
main .announcement a {
  width: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  background-color: #3ca50c;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
  text-shadow: none;
  border: 3px solid #3ca50c;
}
main .announcement a ion-icon {
  display: block;
}
main .announcement a:hover {
  background-color: transparent;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
  border-color: #fff;
  transition: background-color 0.3s, text-shadow 0.3s, border-color 0.3s;
}
main .gif-display {
  transition: opacity 0.5s;
}
main .gif-display img {
  margin: auto;
  height: 200px;
  border-radius: 20px;
}
main .start-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
main .start-grid table {
  border-collapse: collapse;
  border-spacing: 0;
}
main .start-grid table td {
  border: 3px solid #fff;
  display: table-cell;
  width: 70px;
  height: 70px;
  text-align: center;
  padding: 0;
}
main .start-grid table td img {
  height: 68px;
  width: 68px;
}
main .start-grid table td span {
  display: none;
}
main .start-grid table tr:first-child td {
  border-top-style: none;
}
main .start-grid table tr:last-child td {
  border-bottom-style: none;
}
main .start-grid table tr td:first-child {
  border-left-style: none;
}
main .start-grid table tr td:last-child {
  border-right-style: none;
}
main .start-grid #sheepBox {
  background-color: rgba(238, 238, 238, 0.5);
  border-radius: 20px;
  border: 3px solid #3ca50c;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
  padding: 10px;
}
main .start-grid #sheepBox .box {
  cursor: move;
  margin-bottom: 10px;
}
main .start-grid #sheepBox .box:last-child {
  margin-bottom: 0;
}
main .start-grid #sheepBox .box img {
  height: 70px;
  width: 70px;
}
main .start-grid #sheepBox .box span {
  font-family: 'KoHo', sans-serif;
  font-weight: bold;
  margin: 0;
  margin-top: -10px;
  margin-left: -20px;
  padding: 5px;
  padding-left: 11px;
  padding-right: 11px;
  background-color: #fff;
  border-radius: 50px;
  color: #3ca50c;
}
main .start-grid #buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
main .start-grid #buttons a {
  display: flex;
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
  margin-bottom: 50px;
}
main .start-grid #buttons a:last-child {
  margin-bottom: 0;
}
main .start-grid #buttons a:hover {
  opacity: 0.7;
}
footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'KoHo';
  text-shadow: 3px 3px 7px #000000;
}
/* -------------------------------------------------------------------------- */
/*                              Responsive design                             */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 1400px) {
  header {
    left: 35%;
    right: 35%;
  }
}
@media screen and (max-width: 700px) {
  .splash-screen .zephyr-studio-game h1 {
    font-size: 3rem;
  }
  .splash-screen .battlesheep-logo img {
    height: 100px;
  }
}
@media screen and (max-width: 500px) {
  .splash-screen .zephyr-studio-game h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 350px) {
  .splash-screen .zephyr-studio-game h1 {
    font-size: 1.5rem;
  }
  .splash-screen .battlesheep-logo img {
    height: 75px;
  }
}
@media screen and (max-height: 900px) {
  main .start-grid #sheepBox .box img {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-height: 700px) {
  main .start-grid #sheepBox .box img {
    width: 40px;
    height: 40px;
  }
}
