@charset "UTF-8";
/* -------------------------------------------------------------------------- */
/*                               Some variables                               */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   General                                  */
/* -------------------------------------------------------------------------- */
body {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: #eee;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #000;
  padding: 0;
  margin: 0;
}
.btn_xl a {
  font-size: 1.5rem;
  color: #000;
  text-decoration: none;
  text-align: center;
  font-family: 'Aclonica', sans-serif;
  border: 4px solid #3ca50c;
  border-radius: 10px;
  text-shadow: 1px 2px 3px #000;
  padding: 1% 7% 1%;
}
.btn_xl a:hover {
  background-color: #3ca50c;
}
.btn {
  font-size: 1.5rem;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  border: 3px solid #3ca50c;
  border-radius: 10px;
  background-color: #3ca50c;
  text-shadow: 1px 2px 3px black;
  cursor: pointer;
}
/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eee;
  width: 75%;
  margin: auto;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  margin-right: 0%;
  text-transform: uppercase;
}
header nav:hover {
  color: #3ca50c;
}
header nav table {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid none;
  border-collapse: collapse;
}
header nav table td {
  border: 1px solid none;
  color: #000;
  padding: 2.5rem;
  font-family: 'KoHo', sans-serif;
  letter-spacing: 0.2rem;
}
header nav table td .nav_link:hover a {
  color: #3ca50c;
}
header a {
  text-decoration: none;
  color: #000;
  font-family: 'KoHo', sans-serif;
}
/* -------------------------------------------------------------------------- */
/*                                Main content                                */
/* -------------------------------------------------------------------------- */
.home-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 5%;
  width: 90%;
}
.home-main .home-content {
  text-align: left;
  text-transform: uppercase;
}
.home-main .home-content h1 {
  font-size: 2.5rem;
  text-shadow: 1px 2px 3px black;
  font-family: 'KoHo', sans-serif;
  padding: 0%;
  margin-bottom: 2%;
  letter-spacing: 0.15rem;
}
.home-main .home-content h2 {
  font-size: 1.2rem;
  font-family: 'KoHo', sans-serif;
  margin-bottom: 5%;
  letter-spacing: 0.15rem;
}
.home-main .home-content .btn_xl {
  margin-top: 50px;
}
.home-main .home-content .btn_xl a {
  display: block;
  width: 25%;
}
.home-main .background canvas {
  width: 50%;
  height: 60%;
  touch-action: none;
}
.signup-main {
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 5%;
  font-family: 'KoHo', sans-serif;
}
.signup-main .switch-form {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  cursor: pointer;
}
.signup-main .switch-form .selected {
  color: #3ca50c;
  font-weight: bold;
}
.signup-main form {
  margin-top: 20px;
}
.signup-main form input {
  font-family: 'KoHo', sans-serif;
  background-color: transparent;
  color: #000;
  border: 3px solid #3ca50c;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px 10px;
  margin-top: 10px;
  font-weight: bold;
}
.signup-main form input[type='submit'] {
  width: 15%;
  cursor: pointer;
  margin-top: 30px;
  font-size: 20px;
  text-transform: uppercase;
}
.signup-main form input[type='submit']:hover {
  background-color: #3ca50c;
  color: #eee;
}
.rules-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 5%;
  width: 90%;
}
.rules-main .rules-content {
  text-align: left;
  font-family: 'KoHo', sans-serif;
}
.rules-main .rules-content h1 {
  font-size: 2.5rem;
  text-shadow: 1px 2px 3px black;
  padding: 0%;
  margin-bottom: 2%;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}
.rules-main .rules-content p,
.rules-main .rules-content ul li {
  font-size: 18px;
}
.rules-main .background canvas {
  width: 50%;
  height: 60%;
  touch-action: none;
}
.grass-background {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vw;
  z-index: -1;
  opacity: 0.8;
}
/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */
footer {
  position: fixed;
  bottom: 0;
  width: 99%;
  padding-bottom: 0%;
  height: auto;
}
footer p {
  font-size: 0.7rem;
  color: #858585;
  text-align: right;
  font-family: 'KoHo', sans-serif;
  padding-bottom: 0%;
}
