<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <meta name="author" content="Martin Delebecque" />
    <link rel="stylesheet" href="CSS/style.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap" rel="stylesheet" />

    <link rel="icon" type="image/png" sizes="16x16" href="img/ZephyrStudio_logo.png" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <header>
        <!-- Header and nav -->
        <section class="logo">
            <a href="/" title="Home page">
                <img src="img/BattleSheep_logo.jpg" alt="Logo" />
            </a>
        </section>

        <nav>
            <table>
                <tr>
                    <td>
                        <section class="nav_link">
                            <a href="/rules" title="Rules page">Rules</a>
                        </section>
                    </td>
                    <td>
                        <section class="btn">
                            <a href="/signup" title="Click to connect">Play</a>
                        </section>
                    </td>
                </tr>
            </table>
        </nav>
    </header>